* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}

body {
    background-color: #d9dcd6; /* change */
} 

main {
    display: inline-block;
    flex: wrap;
    margin-top: 60px;
    color: #ffffff;
}

div,
article,
footer {
    display: flex;
}

a {
    color: #050505; /* change */
} 

p {
    margin-bottom: 20px;
    color:rgb(2, 2, 2);
    font-size: 30px;
    text-align: left;
    padding-left: 12px;
}

h2 {
    width: 420px;
    height: 180px;
    margin-bottom: 20px;
    color:rgb(2, 2, 2);
    font-size: 48px;
    text-align: right;
    border-right: 5px solid red;
    border-width: 6px;
    padding-right: 12px;
}

h3 {
    background-color: rgb(255, 0, 0);
    text-align: center;
    font-size: 36px;
    height: 60px;
    padding: 0px 10px 0px 10px;
}

/*header*/

header {
    padding: 20px;
    background-color: #676869;
    color: #ffffff; /* change */
}

header h1 {
    display: inline-block;
    font-size: 50px;
    background-color: rgb(2, 2, 2);
    padding: 10px 30px 10px 60px;
    position: relative;
    right: 19px;
}

header nav {
    padding-top: 30px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 28px;
}

header nav li {
    display: inline-block;
    margin-left: 10px;
} 

/* make it to be displyed in a column when in mobile mode
     find if the underline could be lengther than text */

.myavatar {
    background-image: url('../images/avatar.jpg');
    width: 100%;
    height: 250px;
    border-style: dashed; /* to be removed*/
    background-size: cover;
    background-position: center;
}    

.myavatar h3 {
    position: relative;
    left: 75%;
    top: 69%;
    display: flex;
    align-items: center;
}

/* main 
display and wrap has to be adjusted */


.apps {
       /*border-style: dashed;*/ 
    }

section {
    display: flex;
    flex-wrap: wrap;
    }

.apps h2 {
    height: 650px;
    padding-left: 18.5%;
}

.blog {
    width: 960px;
    height: 280px;
    margin-left: 30px;
    border-style: solid;
    border-color:rgb(255, 0, 0);
    border-width: 7px;
}

.blog h3 {
    height: 80px;
    width: 12%;
    text-align: left;
    position: relative;
    top: 54%;
    display: block;
    line-height: 30px;
    padding: 12px;
}

.blog span {
    font-weight:lighter;
    font-size: 20px;
}

.research,
.communities,
.cultures,
.health {
    width: 465px;
    height: 140px;
    margin: 0px 0px 0px 30px;
    border-style: solid;
    border-color:rgb(255, 0, 0);
    border-width: 7px;
}

.research h3 {
    height: 80px;
    width: 48%;
    text-align: left;
    position: relative;
    top: 25%;
    display: block;
    line-height: 30px;
    padding: 12px;
}

.communities h3 {
    height: 80px;
    width: 65%;
    text-align: left;
    position: relative;
    top: 25%;
    display: block;
    line-height: 30px;
    padding: 12px;
}

.cultures h3 {
    height: 80px;
    width: 45%;
    text-align: left;
    position: relative;
    top: 25%;
    display: block;
    line-height: 30px;
    padding: 12px;
}

.health h3 {
    height: 80px;
    width: 38%;
    text-align: left;
    position: relative;
    top: 25%;
    display: block;
    line-height: 30px;
    padding: 12px;
}

.research span,
.communities span,
.cultures span,
.health span {
    font-weight:lighter;
    font-size: 20px;
}

